.home {
  &_container {
    &_section {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      font-family: inherit;

      .card {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 35px rgba(10, 10, 10, 0.12);
        padding: 4vw 3vw;
        height: 25vh;
        margin-top: -2vw;
        z-index: 3;
        background-color: $home-card-bg-color;
        border-radius: 5px;
        .left_image {
          width: 35%;
          margin-right: 5vw;
          img {
            width: 99%;
          }
        }
        .right_content {
          width: 70%;

          .heading {
            font-size: 31px;
            font-weight: 700;
            letter-spacing: 0px;
            text-transform: none;
            color: $home-card-heading-color;
          }
          .content {
            font-size: 17px;
            text-transform: none;
            color: $home-card-content-color;
            line-height: 1.7;
          }
        }
      }
      .services {
        &_container {
          &_section {
            background: url(src/assets/images/map-bg.jpg);
            background-position: top;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            .items {
              width: 23%;
              text-align: center;
              padding: 10vw 0;

              .heading {
                font-size: 23px;
                font-weight: 700;
                text-transform: none;
                color:$home-heading-color;
                line-height: 1.55;
              }
              .content {
                font-size: 16px;
                text-transform: none;
                color: #4f5d77;
                text-align: justify;
                line-height: 1.7;
              }
              .learn_more {
                color: #143369;
                text-transform: uppercase;
                font-weight: 700;
                letter-spacing: 1px;
                font-size: 14px;
              }
              .services_icon {
                color:$home-icon-color;
                font-size: 50px;
              }
              .arrow_right {
                padding-left: 10px;
              }
            }
          }
          &_details {
            &_section {
              display: flex;
              justify-content: center;
              align-items: self-end;
              &_left {
                width: 50%;
                .left {
                  background: url(src/assets/images/all-vehicle.jpg);
                  background-position: center;
                  background-size: cover;
                  width: 49.5vw;
                  height: 85vh;
                }
              }
              &_right {
                border-radius: 5px 0 0;
                background: linear-gradient(
                  $theme-color-light,
                  $theme-color
                );
                padding-top: 5vw;
                padding: 100px;
                width: 34.3%;
                .heading {
                  font-size: 30px;
                  font-weight: 700;
                  letter-spacing: 0px;
                  text-transform: none;
                  color: $white;
                }
                .content {
                  font-size: 17px;
                  text-transform: none;
                  color: $light-bg;
                  line-height: 1.7;
                }
                .content2 {
                  font-size: 15px;
                  text-transform: none;
                  color: $gray-dark;
                  line-height: 1.7;
                }
                .form {
                  display: flex;
                  input[type="text"] {
                    height: 17px;
                    background: #f6f6f6;
                    margin: 0;
                    border: none;
                    float: left;
                    width: 45%;
                    font-size: 16px;
                    padding: 15px;
                    color: #727272;
                    background: $white;
                  }
                  .tracknow {
                    width: 30%;
                    font-size: 14px;
                    font-weight: 600;
                    background:$dark-bg;
                    color:  $white;
                    padding: 15px;
                    border: none;
                  }
                }
              }
            }
            &_items {
              display: flex;
              justify-content: center;
              align-items: center;
              &:hover {
                cursor: pointer;
              }
              .items {
                width: 25%;
                height: 35vh;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                position: relative;
                .heading {
                  font-size: 21px;
                  font-weight: 800;
                  margin-bottom: 8px;
                  position: relative;
                  color: $white;
                  margin-top: 0px;
                }
                .content {
                  font-size: 16px;
                  color: #c6c6c6;
                  position: relative;
                  margin-top: 0px;
                }
                .service_icon {
                  color: $white;
                  font-size: 3em;
                }
                .items_background_land {
                  background-image: url(src/assets/images/truck-bg.jpg);
                  background-size: cover;
                  position: absolute;
                  top: 0;
                  right: 0;
                  bottom: 0;
                  left: 0;
                  opacity: 1;
                  background-size: cover;
                  transition: opacity 300ms;
                  -moz-transition: opacity 300ms;
                  -o-transition: opacity 300ms;
                  -webkit-transition: opacity 300ms;
                }
                .items_background_land_active {
                  background-image: url(src/assets/images/truck-bg.jpg);
                  background-size: cover;
                  opacity: 1;
                  position: absolute;
                  top: 0;
                  right: 0;
                  bottom: 0;
                  left: 0;
                  background-size: cover;
                  transition: opacity 300ms;
                  -moz-transition: opacity 300ms;
                  -o-transition: opacity 300ms;
                  -webkit-transition: opacity 300ms;
                }
                .items_background_air {
                  background-image: url(src/assets/images/aeroplane-bg.jpg);
                  background-size: cover;
                  position: absolute;
                  top: 0;
                  right: 0;
                  bottom: 0;
                  left: 0;
                  opacity: 1;
                  background-size: cover;
                  transition: opacity 300ms;
                  -moz-transition: opacity 300ms;
                  -o-transition: opacity 300ms;
                  -webkit-transition: opacity 300ms;
                }
                .items_background_air_active {
                  background-image: url(src/assets/images/aeroplane-bg.jpg);
                  background-size: cover;
                  opacity: 1;
                  position: absolute;
                  top: 0;
                  right: 0;
                  bottom: 0;
                  left: 0;
                  background-size: cover;
                  transition: opacity 300ms;
                  -moz-transition: opacity 300ms;
                  -o-transition: opacity 300ms;
                  -webkit-transition: opacity 300ms;
                }
                .items_background_water {
                  background-image: url(src/assets/images/ship-bg.jpg);
                  background-size: cover;
                  position: absolute;
                  top: 0;
                  right: 0;
                  bottom: 0;
                  left: 0;
                  opacity: 1;
                  background-size: cover;
                  transition: opacity 300ms;
                  -moz-transition: opacity 300ms;
                  -o-transition: opacity 300ms;
                  -webkit-transition: opacity 300ms;
                  transition: transform 0.4s ease;
                }
                .items_background_water_active {
                  background-image: url(src/assets/images/ship-bg.jpg);
                  background-size: cover;
                  opacity: 1;
                  position: absolute;
                  top: 0;
                  right: 0;
                  bottom: 0;
                  left: 0;
                  background-size: cover;
                  transition: opacity 300ms;
                  -moz-transition: opacity 300ms;
                  -o-transition: opacity 300ms;
                  -webkit-transition: opacity 300ms;
                  transition: transform 0.4s ease;
                }
                .items_background {
                  background-image: url(src/assets/images/image.jpg);
                  background-size: cover;
                  position: absolute;
                  top: 0;
                  right: 0;
                  bottom: 0;
                  left: 0;
                  opacity: 1;
                  background-size: cover;
                  transition: opacity 300ms;
                  -moz-transition: opacity 300ms;
                  -o-transition: opacity 300ms;
                  -webkit-transition: opacity 300ms;
                  transition: transform 0.4s ease;
                }
                .items_background_active {
                  background-image: url(src/assets/images/image.jpg);
                  background-size: cover;
                  opacity: 1;
                  position: absolute;
                  top: 0;
                  right: 0;
                  bottom: 0;
                  left: 0;
                  background-size: cover;
                  transition: opacity 300ms;
                  -moz-transition: opacity 300ms;
                  -o-transition: opacity 300ms;
                  -webkit-transition: opacity 300ms;
                  transition: transform 0.4s ease;
                }
                .background_overlay {
                  opacity: 0.4;
                  position: absolute;
                  top: 0;
                  right: 0;
                  bottom: 0;
                  left: 0;
                  transition: opacity 300ms;
                  -moz-transition: opacity 300ms;
                  -o-transition: opacity 300ms;
                  -webkit-transition: opacity 300ms;
                  background: linear-gradient(
                  #4990a0,
                  #013f51
                );
                  -moz-background: linear-gradient(
                    #4990a0,
                  #013f51
                  );
                  -o-background: linear-gradient(
                    #4990a0,
                    #013f51
                  );
                  -webkit-background: linear-gradient(
                    #4990a0,
                    #013f51
                  );
                  transition: transform 0.4s ease;
                }
                &.active .background_overlay_active {
                  position: absolute;
                  top: 0;
                  right: 0;
                  bottom: 0;
                  left: 0;
                  transition: opacity 300ms;
                  -moz-transition: opacity 300ms;
                  -o-transition: opacity 300ms;
                  -webkit-transition: opacity 300ms;
                  opacity: 0.7;
                  background: linear-gradient(
                    $theme-color-light,
                    $theme-color
                  );
                  -moz-background: linear-gradient(
                    $theme-color-light,
                    $theme-color
                  );
                  -o-background: linear-gradient(
                    $theme-color-light,
                    $theme-color
                  );
                  -webkit-background: linear-gradient(
                    $theme-color-light,
                    $theme-color
                  );
                  transition: transform 0.4s ease;
                }
              }
            }
            &_description {
              background: linear-gradient(
                $theme-color,
                $theme-color-light
                
              );
              opacity: 0.9;
              &_container {
                display: flex;
                justify-content: space-between;
                align-items: self-start;
                padding: 5vw;
                .left {
                  width: 30%;
                  .heading {
                    font-size: 36px;
                    font-weight: 700;
                    margin-bottom: 5px;
                    color: $white;
                    transition: transform 0.4s ease;
                  }
                  .content {
                    font-size: 20px;
                    font-weight: 500;
                    color: $light-bg;
                    transition: transform 0.4s ease;
                  }
                }
                .right {
                  width: 65%;
                  transition: transform 0.4s ease;

                  .first {
                    font-size: 20px;
                    color: $light-bg;
                  }
                  .second {
                    font-size: 20px;
                    color: $white;
                  }
                  .more_details {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    .moreDetails {
                      font-size: 13px;
                      font-weight: 700;
                      display: inline-block;
                      letter-spacing: 0.5px;
                      border-radius: 3px;
                      -moz-border-radius: 3px;
                      -webkit-border-radius: 3px;
                      background: $white;
                      color: $theme-color;
                      border: none;
                      padding: 1.5em 2em;
                      text-transform: uppercase;
                      margin-right: 1.5vw;
                      cursor: pointer;
                    }
                    .downloadPdf {
                      font-size: 13px;
                      font-weight: 700;
                      text-transform: uppercase;
                      display: inline-block;
                      letter-spacing: 0.5px;
                      border-radius: 3px;
                      -moz-border-radius: 3px;
                      -webkit-border-radius: 3px;
                      border: none;
                      color: $theme-color;
                      background-color: $white;
                      padding: 1.5em 2em;
                      cursor: pointer;
                      i {
                        margin-right: 5px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      .why_choose_us {
        &_container {
          font-family: inherit;
          &_section {
            display: flex;
            justify-content: center;
            align-items: center;
            .left_container {
              background: url(src/assets/images/whychooseus-bg.jpg);
              width: 40%;
              background-size: cover;
              height: 100vh;
              display: flex;
              flex-direction: column;
              justify-content: end;
              p {
                font-size: 14px;
                letter-spacing: 1px;
                margin-bottom: 3px;
                color: #969696;
                padding-left: 4.3em;
              }
              h3 {
                font-size: 28px;
                font-weight: 700;
                margin-bottom: 16px;
                color: $white;
                margin: 0;
                padding-left: 2.2em;
              }
              .line {
                width: 33px;
                border-bottom-width: 2px;
                border-bottom-style: solid;
                border-color: $theme-color-light;
                margin-left: 4.2em;
                margin-bottom: 5vh;
              }
              ul {
                list-style: none;
                margin: 0;
                padding: 0;
                padding-left: 4em;
                li {
                  margin-left: 0;
                  list-style: none;
                  font-size: 17px;
                  margin-bottom: 1px;
                  padding: 15px 23px 17px;
                  cursor: pointer;
                  background: #222;
                  color: #7d7d7d;
                  &:hover {
                    background: $theme-color-light;
                    color: $white;
                  }
                  &.active {
                    background: $theme-color-light;
                    color: $white;
                  }
                  i {
                    margin-right: 5px;
                  }
                }
              }
            }
            .right_container {
              width: 60%;
              padding: 0 4em;
              background-size: cover;
              .icon {
                color: $theme-color-light;
                font-size: 4em;
              }
              .right_container_content {
                .heading {
                  font-size: 14px;
                  letter-spacing: 1.5px;
                  margin-bottom: 2px;
                  color: #636363;
                }
                .right_container_content_heading {
                  font-size: 32px;
                  font-weight: 800;
                  color: #383838;
                  margin-top: 0;
                  margin-bottom: 20px;
                  line-height: 1.2;
                }
                .right_container_content_content1 {
                  line-height: 1.7;
                  margin-top: 0;
                  margin-bottom: 20px;
                  font-size: inherit;
                  color: #636363;
                }
                .right_container_content_content2 {
                  font-size: 20px;
                  line-height: 1.7;
                  color: #636363;
                }
              }
            }
          }
        }
      }
      .aboutus {
        &_container {
          &_section {
            font-family: inherit;
            &_top {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 100%;
              .left {
                height: 100vh;
                background: url(src/assets/images/aboutus1.jpg);
                background-size: cover;
                width: 55%;
              }
              .right {
                padding: 61px;
                background-color: $theme-color-light;
                width: 45%;
                .know_more {
                  font-size: 14px;
                  font-style: normal;
                  letter-spacing: 1px;
                  color: $black;
                  margin-bottom: 0px;
                }
                h3 {
                  font-size: 40px;
                  font-weight: 700;
                  letter-spacing: 0px;
                  text-transform: none;
                  color: $white;
                }
                .content1 {
                  margin-top: 0;
                  margin-bottom: 20px;
                  font-size: inherit;
                  line-height: 1.7;
                  color: $light-bg;
                }
                .content2 {
                  margin-top: 0;
                  margin-bottom: 20px;
                  font-size: inherit;
                  line-height: 1.7;
                  color: $light-bg;
                }
                button {
                  font-size: 13px;
                  font-weight: 700;
                  letter-spacing: 1px;
                  color: $theme-color;
                  padding: 13px 29px;
                  text-transform: uppercase;
                  border-radius: 3px;
                  -moz-border-radius: 3px;
                  -webkit-border-radius: 3px;
                  background: $white;
                  border: none;
                }
              }
            }
            &_bottom {
              display: flex;
              justify-content: center;
              align-items: center;
              .left {
                box-shadow: rgba(10, 10, 10, 0.07) 0px 0px 35px;
                padding: 95px 49px 55px 60px;
                width: 45%;
                .heading {
                  font-size: 14px;
                  font-style: normal;
                  letter-spacing: 1px;
                  color: #9a9a9a;
                  margin: 0px;
                }
                h3 {
                  font-size: 36px;
                  font-weight: 700;
                  letter-spacing: 0px;
                  color: $theme-color;
                  margin-top: 5px;
                }
                .aboutus_items {
                  display: flex;
                  justify-content: center;
                  align-items: self-start;
                  margin-bottom: 0.5em;
                  .icon {
                    font-size: 2.5em;
                    color: $theme-color-light;
                    margin-right: 1em;
                  }
                  h5 {
                    color: #252525;
                    font-size: 20px;
                    font-weight: 700;
                    margin: 0 0 4px;
                  }
                  p {
                    color: #676767;
                    font-size: 15px;
                    font-weight: 400;
                    margin-top: 5px;
                  }
                }
              }
              .right {
                background: url(src/assets/images/aboutus2.jpg);
                background-size: cover;
                width: 55.17%;
                height: 87vh;
              }
            }
          }
        }
      }
      .industry_solutions {
        background-color: #f7f7f7;
        padding: 7vw 0;
        &_container {
          &_section {
            .industry_heading {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              padding-bottom: 5vw;
              .header {
                font-size: 14px;
                font-style: normal;
                letter-spacing: 1px;
                color: #9a9a9a;
                margin-bottom: 0px;
                text-align: center;
              }
              h3 {
                font-size: 40px;
                font-weight: 700;
                letter-spacing: 0px;
                text-align: center;
                color: #383838;
                margin-bottom: 0;
                margin-top: 10px;
              }
              .paragraph {
                line-height: 1.7;
                margin-top: 0;
                margin-bottom: 20px;
                font-size: inherit;
                color: #757f90;
                text-align: center;
                width: 70%;
              }
            }
            .card_container{
              .card_elements{
                .card_elements_section{
                  display: flex;
                  flex-wrap: wrap;
                  justify-content: space-around;
                  .cards{
                    padding: 3em;
                    width: 20%;
                    text-align: center;
                    background-color: $white;
                    border-bottom: 2px solid $theme-color-light;
                    margin-bottom: 3em;
                    .icon{
                      font-size: 3em;
                      color: $theme-color-light;
                    }
                    h5{
                      font-size: 22px;
                      font-weight: 700;
                      text-transform: capitalize;
                      color: $theme-color;
                      line-height: 1.55;
                      margin-bottom: 20px;
                      margin-top: 0px;
                    }
                    p{
                      color: #585858;
                      font-size: 16px;
                      font-weight: 400;
                      text-transform: none;
                      line-height: 1.7;
                      margin-top: 0;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
