.banner {
  &_container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(src/assets/images/home-banner-bg.jpg);
    background-size: cover;
    background-position: center;
    font-family: inherit;

    &_section {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 90%;
      &_left {
        width: 50%;
        .heading {
          font-size: 40px;
          font-weight: 700;
          letter-spacing: 0px;
          text-transform: none;
          color: $banner-header-text-color;
          font-weight: 800;
        }
        .content {
          font-size: 20px;
          font-style: normal;
          letter-spacing: 0px;
          color: $banner-content-text-color;
          margin-top: 20px;
        }
        button {
          font-weight: 800;
          letter-spacing: 1px;
          padding: 15px 34px 18px 34px;
          border-radius: 27px;
          -moz-border-radius: 27px;
          -webkit-border-radius: 27px;
          background: $banner-btn-bg-color;
          color: $banner-btn-color;
          cursor: pointer;
          border: none;
        }
      }
      &_right {
        width: 38%;
        padding: 5vw 0;
        .form-box {
          background-color: #f4f4f6;
          opacity: 0.9;
          margin: auto auto;
          padding: 30px;
          border-radius: 5px;
        }

        .form-box .header-text {
          font-size: 18px;
          font-weight: 600;
          color: black;

          .header-content {
            font-size: 14px;
          }
        }
        textarea {
          height: 80px;
          opacity: 1;
        }
        .form-box input,
        textarea {
          margin: 10px 0px;
          border: none;
          padding: 15px;
          border-radius: 5px;
          width: 90%;
          font-size: 14px;
          font-family: inherit;
          background: #fff;
          color: #000;
        }
        .form-box button {
          background: $banner-btn-bg-color;
          color: $banner-btn-color;
          border: none;
          border-radius: 2px;
          cursor: pointer;
          width: 100%;
          font-size: 13px;
          font-weight: 700;
          padding: 20px;
          opacity: 1;
          &:hover {
            background-color:$banner-btn-bg-color-hover;
          }
        }
      }
    }
  }
}
