.history {
  height: 100vh;
  width: 100%;
  &_container {
    .history_heading {
      color: #000;
      background-color: #fff;
      margin-bottom: 1vw;
      h2 {
        margin: 0;
        padding: 0.8rem;
        font-size: 1rem;
      }
      .sidebar_icon {
        margin-bottom: -3px;
      }
    }
    &_section {
      background: $white;
      opacity: 0.89;
      padding: 0.3em 0.3em;
      .filter_row {
        display: flex;
        justify-content: end;
        align-items: center;

        .filter {
          display: flex;
          justify-content: center;
          align-items: stretch;
          gap: 8px;
          padding-bottom: 5px;
          margin-top: 5px;
          .userId {
            input {
              width: 100px;
              padding: 10px 16px;
              border-radius: 5px;
              background-color: #a3bac3;
              color: #000;
              border: none;
              &::placeholder {
                color: #000;
              }
              &:focus {
                outline: none;
              }
            }
          }

          .created_date {
            :where(.css-dev-only-do-not-override-djtmh8).ant-picker-outlined {
              padding: 7px 16px;
              background-color: #a3bac3;
              color: #000;
              border: none;
              width: 17vw;
            }
            .anticon svg {
              color: #000;
            }
            .date-range .ant-picker-input > input::placeholder {
              color: #000;
              font-size: 14px;
            }
          }
          .Apply_button {
            button {
              padding: 8.5px 18px;
              background-color: #007090;
              border: none;
              border-radius: 5px;
              font-size: 16px;
              color: #fff;
              cursor: pointer;
              &:hover {
                background-color: #018ca9;
              }
            }
          }
        }
        .status_filter {
          .dropdown {
            width: 135px;
            position: relative;
            color: #000;

            .select {
              cursor: pointer;
              transition: 0.3s;
              background-color: #a3bac3;
              border-radius: 5px;
              display: flex;
              padding: 10px 16px;
              align-items: center;
              justify-content: space-between;
              font-size: 14px;
              .selected {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;

                &.placeholder {
                  color: #6b728c;
                }
              }

              .caret {
                margin-left: 10px;
                width: 0;
                height: 0;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-top: 6px solid #000;
                transition: 0.3s;
              }
            }

            .menu {
              visibility: hidden;
              background-color: #a3bac3;
              border-radius: 5px;
              overflow: hidden;
              position: absolute;
              width: 100%;
              top: 50%;
              opacity: 0;
              transition: visibility 0s, opacity 0.3s;
              z-index: 1;
              padding: 0;

              li {
                cursor: pointer;
                padding: 6px;
                list-style: none;
                font-size: 0.8rem;
                &:hover {
                  background-color: rgb(203 213 225);
                  color: #007090;
                }
              }
            }

            &.menu-open {
              .menu {
                visibility: visible;
                opacity: 1;
              }
            }

            &.caret-rotate {
              .select {
                .caret {
                  transform: rotate(180deg);
                }
              }
            }
          }
        }
      }
      table {
        .batchid {
          width: 150px;
        }
        .userid {
          width: 100px;
        }
        .referenceid {
          width: 100px;
        }
        .date {
          width: 100px;
        }
        .status {
          width: 100px;
        }
        .eyeicon {
          width: 100px;
        }
        thead {
          background-color: rgb(203 213 225);

          tr {
            th {
              padding: 0.6rem 1rem;
              font-size: 0.6rem;
              font-weight: 600;
              text-transform: uppercase;
              text-align: center;
              cursor: pointer;
              color: #000;
            }
          }
        }
        tbody {
          tr {
            td {
              padding: 0.3086rem;
              font-size: 0.65rem;
              line-height: 1rem;
              font-weight: 400;
              color: #7b8596;
              background: #dce3e7;
              text-align: -webkit-center;
              font-weight: 600;
              button {
                background: #dce3e7;
                border: 0.5px solid #7b8596;
                border-radius: 0.2rem;
                display: flex;
                justify-content: center;
                align-items: center;
              }
              .eye {
                cursor: pointer;
                color: #7b8596;
                width: 12px;
                height: 20px;
              }
            }
          }
        }
      }
      .pagination {
        display: flex;
        justify-content: flex-end;
        .css-10w330c-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
          background-color: rgb(203 213 225);
          min-width: 22px;
          height: 22px;
          padding: 0 3px;
        }
        .css-10w330c-MuiButtonBase-root-MuiPaginationItem-root {
          color: #000;
          font-size: 0.6rem;
        }
      }
      .execute {
        justify-content: space-between !important;
      }
      .pagination {
        display: flex;
        align-items: center;
        justify-content: end;
        .dropdown {
          display: flex;
          align-items: center;
          position: relative;
          gap: 10px;
          .show {
            display: block;
          }
          ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            width: 130px;
            color: #000;
            background-color: #a3bac3;
            border-radius: 5px;
            position: absolute;
            top: 100%;
            display: none;
            li {
              text-align: center;
              padding: 5px 0;
              cursor: pointer;
              font-size: 0.8rem;
              &:hover {
                background-color: rgb(203 213 225);
                border-radius: 5px;
              }
            }
          }
          .Select_date_dropdown {
            width: 130px;
            color: #000;
            background-color: #a3bac3;
            border: none;
            border-radius: 5px;
            height: 30px;
            cursor: pointer;
            .dropdown_icon {
              transform: rotate(90deg);
              margin-left: 10px;
            }
          }
          .execute_button {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 8px 16px;
            background-color: #007090;
            border: none;
            border-radius: 5px;
            font-size: 14px;
            cursor: pointer;
            color: $white;
            .execute_icon {
              margin-left: 5px;
              font-weight: 900;
            }
            &:hover {
              transform: scale(1.02);
            }
          }
        }

        .css-10w330c-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
          background-color: #7b8596;
        }
        .css-10w330c-MuiButtonBase-root-MuiPaginationItem-root {
          color: rgb(203 213 225);
        }
      }
    }
  }
}
