  .browsefile {
    font-family: "Poppins", sans-serif;

    &_container {
      h4 {
        text-align: center;
      }

      .p-text {
        text-align: center;
        color: #414142;
        font-weight: 700;
        // font-family:Georgia, 'Times New Roman', Times, serif;
      }

      &_section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        // background-color:#b0cbd9;
        border: 0.5px dashed #7b8596;
        padding: 10px;
        // background-color: #fff;


        .icon {
          .upload_icon {
            font-size: 2em;
            color: #143369;
            font-weight: 800;
          }
        }

        .content {
          margin: 0;
          font-weight: 700;
          display: inline;
          color: #414142;
        }

        .browse {
          color: #fff;
          background-color: #143369;
          box-shadow: none;
          display: inline;
          text-decoration: none;
          text-transform: capitalize;
          margin: 10px 0px 0px;
          padding: 5px 22px;

          &:hover {
            background: #073c92;
            color: #fff;
            box-shadow: none;
          }
        }

        .supported_formats {
          color: #414142;
          font-size: 12px;
          font-weight: 700;
        }
      }

      span {
        color: #143369;
        display: block;
        padding: 10px 0;
        font-size: 14px;
      }
    }


    .submit_btn {
      width: 50%;
      margin: 0 auto;
      background: #143369;

      &:hover {
        background: #103290;
      }
    }

    ul {
      list-style: none;
      padding: 0;
      margin-top: -0.5vw;

      li {
        font-size: 12px;
        color: #014421;
        font-size: 14px;
      }
    }
  }
  .loader{
    position: absolute;
    top: 70%;
    left: 50%;
  }

  .success_icon {
    color: green;
    text-align: center;
    font-size: 3.5rem;
  }
  .close_button{
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  }