.topbar {
  &_container {
    background-color: $top-bar-background;
    &_section {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &_left {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        color: $top-bar-text-color;
        .language_selector {
          cursor: pointer;
          i {
            margin: -3px 7px 0 5px;
          }
          &_dropdown {
            position: absolute;
            top: 27px;
            left: 0px;
            width: 100%;
            list-style: none;
            margin: 0;
            padding: 0;
            z-index: 3;
            li {
              padding: 4px 8px;
              background-color: $top-bar-dropdown;
              color: $top-bar-dropdown-color;
              &:hover {
                background: $top-bar-dropdown-hover;
              }
            }
          }
        }
        .email {
          display: flex;
          align-items: center;
          a {
            text-decoration: none;
            color: $top-bar-text-color;
          }
        }

        p {
          display: flex;
          align-items: center;
          border-right: 1.5px solid $top-bar-text-color;
          color: $top-bar-text-color;
          padding: 0 1em;
          position: relative;
          margin: 3px 0;
          font-size: $f_size_md;
        }
        i {
          margin-right: 7px;
        }
      }
      &_right {
        display: flex;
        align-items: center;
        gap: 15px;
        i {
          color: $top-bar-text-color;
          margin: 0 0.5em;
          cursor: pointer;
          font-size: $f_size_md;
        }
        .Book_Demo {
          button {
            background-color: $top-bar-btn-bg;
            border: none;
            color: $top-bar-btn-color;
            font-size: 15px;
            font-weight: 600;
            padding: 10px;
            cursor: pointer;
            &:hover {
              transform: scale(1.035);
            }
          }
        }
      }
    }
  }
}
