.trends {
  background-color: #212121;
  opacity: 0.9;
  height: 99vh;
  width: 99.5%;
  border-radius: 10px;
  &_container {
    &_section {
      &_section1 {
        display: flex;
        padding: 1rem;
        .heading {
          width: 100%;
          h2 {
            color: #a0a0a0;
            font-size: 18px;
          }
        }
      }
      &_section2 {
        .card {
          display: flex;
          justify-content: space-evenly;
          .item {
            .content {
              padding: 0.5rem;
              display: flex;
              justify-content: start;
              align-items: self-start;
              .icon {
                font-size: 2rem;
              }
              .heading {
                margin-left: 10px;
                p,
                h5 {
                  margin: 0;
                }
                p {
                  font-size: 18px;
                  color: #ffffff;
                }
                h5 {
                  color: #a8a196;
                  font-size: 14px;
                  margin-bottom: 5px;
                }
              }
            }
          }
        }
      }
      .period{
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 20px;
        padding: 1rem;
        padding-top: 0;
      }
      .userId{
        input{
          width: 100px;
          padding: 12px 0;
          padding-left: 15px;
          border-radius: 5px;
          background-color: #414142;
          color: #020000;
          border: none;
          &::placeholder {
            font-size: 16px;
            color: #020000;
        }
        &:focus{
          outline: none;
        }
        }
        gap: 20px;
        padding: 1rem;
        padding-top: 0;
        margin-right: 1vw;
        button {
          padding: 10px 25px;
          background-color: #414142;
          border: none;
          border-radius: 5px;
          font-size: 16px;
          cursor: pointer;
          margin-left: 10px;
          &:hover {
            background-color: #e53d34;
            color: #fff;
          }
        }
      }
      .filter{
        display: flex;
        justify-content: space-between;
        align-items: center;
       
      }
      .charts {
        display: flex;
        justify-content: space-evenly;
        align-items: center;      
      }
    }
  }
}
