.userpage {
  display: flex;
  background-position: left;
  background-size: cover;
  justify-content: space-between;
  align-items: flex-start;
  .sidebar {
    font-family: inherit;
    width: 15%;
    z-index: 10000;
    background: #eaebed;
    &_container {
      &_section {
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: column;
        height: 100vh;
        &_logo {
          color: #000;
          font-size: 1.5rem;
          margin-top: 2vw;
        }
        &_list {
          width: 100%;
          ul {
            list-style: none;
            padding: 0;
            margin: 0;
            text-decoration: none;

            .active-li {
              background-color: #a3bac3;
              color: #fff;
              .sidebar_icon {
                color: #fff;
              }
            }
            a {
              text-decoration: none;
              color: inherit;
              opacity: 1;
            }

            li {
              display: flex;
              align-items: center;
              flex-direction: row;
              justify-content: start;
              font-size: 14px;
              font-weight: 600;
              position: relative;
              cursor: pointer;
              padding: 1vw 0;
              padding-left: 1vw;
              .dropdown {
                width: 130px;
              }
              .sidebar_icon {
                padding: 8px 12px;
                border-radius: 2px;
                font-size: 1.3em;
                color: #000;
              }
              &:hover {
                transition: background 0.3s ease;
                background-color: #a3bac3;
                color: #fff;
                .sidebar_icon {
                  color: #fff;
                }
              }
            }
          }
          .dropdown {
            position: absolute;
            top: 0;
            left: 101%;
            background: #eaebed;
            padding: 10px;
            box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
              rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
            width: 90%;

            li {
              border: none;
            }

            a {
              color: #000;
            }

            li:hover {
              background: #a3bac3;
              transition: background 0.3s ease;
              color: #fff;
            }
          }
        }
      }
    }
  }
  .userpage-content-container {
    width: 85%;
    height: 100vh;
    background-color: #ededed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
    overflow-y: scroll;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    z-index: 0;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
