.userpage {
  display: flex;
  background: url(../../images/image-Photoroom.jpg);
  background-position: left;
  background-size: cover;
  justify-content: space-between;
  align-items: center;
  .sidebar {
    font-family: "Poppins", sans-serif;
    width: 7%;
    z-index: 10000;
    &_container {
      &_section {
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: column;
        background-color: #212121;
        opacity: 0.89;
        height: 100vh;
        box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
          rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
        &_logo {
          color: #e53d34;
          font-size: 2em;
          margin-top: 2vw;
          cursor: pointer;
          position: relative;
          .x-mark {
            margin-left: 8vw;
            padding: .1vw;
            font-size: 22px;
            background: #a0a0a0;
            border-radius: 50%;
            position: absolute;
            top: 0vw;
            left: -12px;
          }
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          span {
            font-size: 20px;
          }
        }
        &_list {
          width: 100%;
          ul {
            list-style: none;
            padding: 0;
            margin: 0;
            text-decoration: none;
            .active-li {
              background-color: #767676;
              color: #fff;
              .sidebar_icon {
                color: #fff;
                
              }
            }
            a {
              text-decoration: none;
              color: inherit;
              opacity: 1;
            }

            li {
              display: flex;
              align-items: center;
              flex-direction: row;
              justify-content: center;
              font-size: 14px;
              font-weight: 600;
              color: #a0a0a0;
              position: relative;
              cursor: pointer;
              padding: 1vw 0;
              .dropdown{
                width: 130px;
              }
              .sidebar_icon {
                padding: 8px 12px;
                background: #a0a0a0;
                border-radius: 2px;
                font-size: 1.8em;
                color: #e53d34;
              }
              &:hover {
                background: #767676;
                transition: background 0.3s ease;
                color: #fff;

                .sidebar_icon {
                  color: #fff;
                }
              }
              span {
                display: none;
              }
            }
          }
          .dropdown {
            position: absolute;
            top: 0;
            left: 101%;
            background: #212121;
            padding: 10px;
            box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
              rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
            width: 90%;

            li {
              border: none;
            }

            a {
              color: #a0a0a0;
            }

            li:hover {
              background: #767676;
              transition: background 0.3s ease;
              color: #fff;
            }
          }
        }
      }
    }
  }
  .sidebar {
    transition: all 0.5s ease;
    &.active {
      width: 13%;
      .sidebar_container_section_list {
        ul {
          li {
            justify-content: start;
            padding-left: 0.7vw;
            .sidebar_icon {
              padding-right: 10px;
              font-size: 1em;
            }
            span {
              display: block;
              margin-left: 10px;
            }
            &.active-li {
              flex-direction: row;
              padding-left: 0.7vw;
              font-size: 14px;

              .sidebar_icon {
                padding-right: 10px;
                font-size: 1em;
              }
            }
          }
        }
      }
      .userpage-content-container {
        width: 85%;
      }
    }
  }
  .userpage-content-container {
    width: 93%;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
  }
}
