.userpage {
  display: flex;
  background: url(../../images/image.jpg);
  background-position: left;
  background-size: cover;
  .sidebar {
    font-family: "Poppins", sans-serif;
    width: 7%;
    &_container {
      &_section {
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: column;
        background-color: #212121;
        // border-right: 2px solid #e53d34;
        opacity: 0.89;
        height: 100vh;
        box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
          rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
        &_logo {
          color: #e53d34;
          font-size: 2em;
          margin-top: 2vw;
          cursor: pointer;
          .x-mark {
            padding-left: 10vw;
          }
        }
        &_list {
          width: 100%;
          ul {
            list-style: none;
            padding: 0;
            margin: 0;
            text-decoration: none;
            display: none;

            a {
              text-decoration: none;
              color: inherit;
              opacity: 1;
            }
            li {
              display: flex;
              justify-content: space-between;
              align-items: center;
              flex-direction: column;
              font-size: 13px;
              border-bottom: 1px solid #e53d34;
              font-weight: 600;
              color: #a0a0a0;
              cursor: pointer;
              padding: 1.5vw 0;

              .sidebar_icon {
                font-size: 1.7em;
                margin-bottom: 3px;
                color: #e53d34;
              }
              &:hover {
                background: #e53d34;
                transition: background 0.3s ease;
                color: #fff;
                .sidebar_icon {
                  color: #fff;
                }
              }
            }
          }
        }
      }
    }
  }
  .sidebar {
    &.active {
      width: 15%;
      .sidebar_container_section_list {
        ul {
          display: block;
          li {
            &.active-li {
              flex-direction: row;
              justify-content: start;
              padding-left: 2vw;
              font-size: 14px;
              .sidebar_icon {
                padding-right: 10px;
                font-size: 2em;
              }
            }
          }
        }
      }
      .userpage-content-container {
        width: 85%;
      }
    }
  }
  .userpage-content-container {
    width: 93%;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
