.userproduct {
  height: 100vh;
  width: 100%;
  font-family: inherit;
  &_container {
    .userproduct_heading {
      color: #000;
      background-color: #fff;
      margin-bottom: 1vw;
      h2 {
        margin: 0;
        padding: 0.8rem;
        font-size: 1rem;
      }
      .sidebar_icon {
        margin-bottom: -3px;
      }
    }
    &_section {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .step1,
      .step2,
      .step3,
      .step4,
      .step5 {
        width: 97%;
        .dropdown_container {
          margin-top: 1rem;
          margin-bottom: 10px;
          .dropdown_header {
            display: flex;
            background-color: #fff;
            cursor: pointer;
            .dropdown_header_icon {
              border-right: 2px solid #ededed;
              .dropdown_icon {
                color: #ededed;
                padding: 0 10px;
                margin: 8px 0;
              }
            }
            .dropdown_header_text {
              h3 {
                font-size: 18px;
                color: #035170;
                margin: 8px 0;
                margin-left: 0.65rem;
              }
            }
          }
          .dropdown_items {
            margin-top: 10px;
            box-shadow: 0px 4px 4px 0px #00000040;
            padding: 10px;
            background-color: #fff;
            transition: all 0.5s ease-out;

            .items {
              display: flex;
              align-items: center;
              flex-wrap: wrap;
              .input_field,
              .select_dropdown {
                width: calc(33.33% - 10px);
                label {
                  font-size: 16px;
                  display: block;
                  color: #035170;
                  margin-bottom: 5px;
                }
                input,
                select {
                  margin-bottom: 15px;
                  width: 75%;
                  border-radius: 5px;
                  border: 1px solid #A7A7A7;
                }
                input {
                  width: 11.5rem;
                  padding: 8px 16px;
                  &:disabled{
                    background: #CAC9C9;
                  }
                }
                select {
                  padding: 8px 16px;
                  cursor: pointer;
                  -webkit-appearance: none;
                  -moz-appearance: none;
                  background: transparent;
                  background-image: url("data:image/svg+xml;utf8,<svg fill='silver' height='35' viewBox='0 0 26 35' width='35' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
                  background-repeat: no-repeat;
                  background-position-x: 100%;
                  background-position-y: 5px;
                  border: 1px solid #A7A7A7;
                  option{
                    font-size: 14px;
                    padding: 10px;
                  }
                }
              }
              .created_date {
                width: calc(33.33% - 10px);
                margin-bottom: 15px;

                label {
                  font-size: 16px;
                  display: block;
                  color: #035170;
                  margin-bottom: 5px;
                }
                input {
                    width: 10.5rem;
                    padding: 2px 6px;
                  }
              }
            }
          }
        }
        .next_button {
          margin: 1rem;
          text-align: end;
          width: 98%;
          button {
            padding: 6px 22px;
            border-radius: 5px;
            font-weight: 600;
            background-color: #05a9d8;
            color: #fff;
            border: none;
            cursor: pointer;
            &:hover {
              background-color: #035170;
            }
          }
        }
      }
    }
    input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
  }
}
